.navbar {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 1200px;
    background: var(--navbar-bg);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    padding: 10px 20px;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}

.navbar a {
    margin: 0 10px;
}

body {
    padding-top: 100px;
}

.accordion-body {
    text-align: justify;
}

.chart-container {
    max-width: 400px;
    max-height: 310px;
    height: 100%;
    width: 100%;
    margin: auto;
}