<footer class="py-4 mt-5" style="color: #000;">
    <hr />
    <div class="container">
        <div class="row text-center text-md-start align-items-center">
            <!-- Logo e Slogan -->
            <div class="col-12 col-md-6 mb-4 mb-md-0">
                <div class="d-flex flex-column align-items-center align-items-md-start">
                    <img th:if="${settings.landingPage.footerLogo != '${FOOTER_LOGO}'}"
                         th:src="${'/api/files/public/' + settings.landingPage?.footerLogo}"
                         alt="Logo"
                         class="img-fluid mb-2"
                         style="max-width: 100px;">
                    <h5 class="mb-1">[[${settings.name}]]</h5>
                    <p class="mb-0">[[${settings.landingPage.slogan}]]</p>
                </div>
            </div>

            <!-- Acessos e Contato -->
            <div class="col-12 col-md-6">
                <div class="row">
                    <!-- Acessos -->
                    <div class="col-12 col-sm-6 mb-3 mb-sm-0">
                        <h5>Acessos</h5>
                        <ul class="list-unstyled">
                            <li><a class="text-primary text-decoration-none" th:href="${settings.media?.site}" target="_blank"><i class="bi bi-globe me-2"></i>Site Oficial</a></li>
                            <li><a class="text-primary text-decoration-none" th:href="${settings.media?.facebook}" target="_blank"><i class="bi bi-facebook me-2"></i>Facebook</a></li>
                            <li><a class="text-primary text-decoration-none" th:href="${settings.media?.instagram}" target="_blank"><i class="bi bi-instagram me-2"></i>Instagram</a></li>
                            <li><a class="text-primary text-decoration-none" th:href="${settings.media?.whatsapp}" target="_blank"><i class="bi bi-whatsapp me-2"></i>WhatsApp</a></li>
                        </ul>
                    </div>

                    <!-- Contato -->
                    <div class="col-12 col-sm-6">
                        <h5>Contato</h5>
                        <p class="mb-1">[[${settings.landingPage.contact}]]</p>
                        <p class="mb-0">[[${settings.landingPage.phone}]]</p>
                    </div>
                </div>
            </div>
        </div>

        <hr class="my-4">
        <p class="text-center mb-0 small">&copy; [[${#dates.year(#dates.createNow())}]] Desenvolvido por [[${settings.company}]]. Todos os direitos reservados.</p>
    </div>
</footer>
