<!DOCTYPE html>
<html lang="pt-br" th:replace="~{layout/dashboard/principal :: layout (~{:: content}, 'Página Inicial')}">

<body>
    <content>

        <div class="container py-5">

            <div class="row align-items-center mb-7">
                <div class="col-auto">
                    <!-- Avatar -->
                    <div class="avatar avatar-xl rounded text-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-chat-square-quote-fill" viewBox="0 0 16 16">
                            <path
                                d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2zm7.194 2.766a1.7 1.7 0 0 0-.227-.272 1.5 1.5 0 0 0-.469-.324l-.008-.004A1.8 1.8 0 0 0 5.734 4C4.776 4 4 4.746 4 5.667c0 .92.776 1.666 1.734 1.666.343 0 .662-.095.931-.26-.137.389-.39.804-.81 1.22a.405.405 0 0 0 .011.59c.173.16.447.155.614-.01 1.334-1.329 1.37-2.758.941-3.706a2.5 2.5 0 0 0-.227-.4zM11 7.073c-.136.389-.39.804-.81 1.22a.405.405 0 0 0 .012.59c.172.16.446.155.613-.01 1.334-1.329 1.37-2.758.942-3.706a2.5 2.5 0 0 0-.228-.4 1.7 1.7 0 0 0-.227-.273 1.5 1.5 0 0 0-.469-.324l-.008-.004A1.8 1.8 0 0 0 10.07 4c-.957 0-1.734.746-1.734 1.667 0 .92.777 1.666 1.734 1.666.343 0 .662-.095.931-.26z" />
                        </svg>
                    </div>
                </div>
                <div class="col">

                    <!-- Heading -->
                    <h1 class="fs-4 mb-0">Últimas solicitações</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <!-- Filters -->
                    <search-protocol th:replace="~{layout/search-protocol}"></search-protocol>

                    <!-- Table -->
                    <div class="container mb-7">
                        <table class="table table-hover table-striped table-bordered align-middle mb-0" id="tbl-requests">
                            <thead>
                                <tr>
                                    <th>Protocolo</th>
                                    <th>Solicitação</th>
                                    <th>Descrição</th>
                                    <th>Data</th>
                                    <th>Situação</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">

                                <tr role="button" th:each="request : ${requests}" th:data-id="${request.id}" onclick="window.location.href = `/solicitacoes/${this.dataset.id}`">
                                    <td class="text-body-secondary">#[[${request.id}]]</td>
                                    <td>[[${request.requestType.title}]]</td>
                                    <td style="max-height: 60px!important; height: 100%" th:utext="${request.description}"></td>
                                    <td>[[${#temporals.format(request.createdAt, 'dd/MM/yyyy HH:mm')}]]</td>
                                    <td><span class="badge bg-success-subtle text-success">[[${request?.status?.description}]]</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>

            <div class="fab-container" style="z-index: 9999!important">
                <a href="/solicitacoes/nova-solicitacao" id="fab-main" class="btn btn-primary w-100 shadow"
                    data-bs-trigger="hover" data-bs-toggle="popover" data-bs-placement="left"
                    data-bs-title="Nova solicitação">
                    <i class="bi bi-plus"></i> Nova solicitação
                </a>
            </div>



            <script>
                window.onload = () => {
                    new DataTable('#tbl-requests', {
                        language: {
                            url: "https://cdn.datatables.net/plug-ins/1.11.3/i18n/pt_br.json"
                        },
                        responsive: true
                    })
                }
            </script>

    </content>
</body>

</html>