<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <!-- Configuração do documento -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>[[${settings.title}]] - Sistema de Ouvidoria</title>

    <!-- Importação de estilos -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/assets/css/theme.bundle.css">
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="stylesheet" href="/api/files/public/custom.css">
    <!-- Script para controle do modo de cores -->
    <script src="/assets/js/color.mode.js"></script>
</head>

<body>
    <!-- Barra flutuante -->
    <float-bar th:replace="~{layout/landingpage/float-bar}"></float-bar>
    <!-- Cabeçalho principal com banner e descrição -->

    <header class="bg-primary text-white py-5">
        <div class="container">

            <div class="row align-items-center">
                <!-- Imagem ilustrativa do sistema -->
                <div class="col-md-6 text-center">
                    <img src="/assets/img/backgrounds/Help-color-800px.png" alt="Imagem Ouvidoria" class="img-fluid"
                        style="max-width: 400px;">
                </div>

                <!-- Texto introdutório sobre a Ouvidoria -->
                <div class="col-md-6">
                    <h4 class="text-center mb-3">Ouvidoria</h4>

                    <p class="text-center">Cadastre a sua manifestação</p>

                    <!-- Texto introdutório sobre a Ouvidoria -->
                    <div class="col-md-12">

                        <!-- Botão para registrar manifestação -->
                        <div class="mt-3 d-flex flex-column gap-3">
                            <!-- Botão para manifestação anônima -->
                            <a class="btn btn-secondary w-100 rounded-4" role="button" href="/manifestacao-anonima">
                                <i class="bi bi-incognito"></i> Manifestação Anônima
                            </a>

                            <!-- Botão para cadastro -->
                            <a class="btn btn-secondary w-100 rounded-4" role="button" href="/acesso/novo-cadastro">
                                <i class="bi bi-file-earmark-break-fill"></i> Faça seu cadastro
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="consulta" class="py-5 text-center">
        <div class="container">
            <h2 class="mb-4">Acompanhamentos</h2>
            <p>Aqui você pode acompanhar o status das suas manifestações anônimas.</p>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <!-- Caixa de pesquisa de protocolo com grupo -->
                    <form class="mb-4" action="/manifestacao-anonima/search" method="GET">
                        <div class="input-group w-100 shadow">
                            <input type="text" class="form-control" name="protocol" id="protocol"
                                placeholder="Digite o número do protocolo" required style="font-weight: 900;">
                            <button type="submit" class="btn btn-outline-secondary ms-2" style="font-weight: 900;">
                                <i class="bi bi-search"></i> Consultar
                            </button>
                        </div>
                    </form>

                    <!-- Informação sobre protocolos anônimos -->
                    <small class="text-muted d-block mt-2">
                        Apenas demandas anônimas podem ser pesquisadas por este número de protocolo.
                    </small>
                </div>
            </div>
        </div>
    </section>

    <!-- Seção de estatísticas da Ouvidoria -->
    <section id="estatisticas" class="py-5 bg-light text-center">
        <div class="container">
            <h2>Estatísticas</h2>
            <p>Acompanhe os dados e métricas da Ouvidoria.</p>
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <div class="card p-3 mb-3 shadow-sm">
                        <h3>[[${OPEN}]]</h3>
                        <p>Manifestações em aberto</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card p-3 mb-3 shadow-sm">
                        <h3>[[${APPEAL}]]</h3>
                        <p>Manifestações em análise</p>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-4">
                    <div class="card p-3 mb-3 shadow-sm">
                        <h3>[[${CLOSED}]]</h3>
                        <p>Manifestações concluídas</p>
                    </div>
                </div>
            </div>
            <p class="mt-3 mb-0">
                Fonte: desde [[${#temporals.format(releaseDate, 'dd/MM/yyyy')}]]
            </p>
        </div>
    </section>

    <!-- Seção de Perguntas Frequentes (FAQ) -->
    <section id="faq" class="py-5 text-center">
        <div class="container">
            <h2>Perguntas Frequentes</h2>
            <p>Encontre respostas para as dúvidas mais comuns sobre a Ouvidoria.</p>
            <div class="accordion" id="faqAccordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading1">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                            O que é a Ouvidoria?
                        </button>
                    </h2>
                    <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="heading1"
                        data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            A Ouvidoria é um canal de comunicação entre o cidadão e a instituição, permitindo o registro
                            de reclamações, elogios, sugestões e denúncias.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading2">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                            Quais tipos de manifestações posso fazer?
                        </button>
                    </h2>
                    <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2"
                        data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            Você pode registrar denúncias, reclamações, sugestões, elogios e solicitações.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading3">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                            Quem pode utilizar a Ouvidoria?
                        </button>
                    </h2>
                    <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3"
                        data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            Qualquer pessoa pode utilizar a Ouvidoria para registrar uma manifestação.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading4">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                            Meu registro é sigiloso?
                        </button>
                    </h2>
                    <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
                        data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            Sim, todas as manifestações são tratadas com sigilo quando solicitado pelo usuário.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading5">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                            Em quanto tempo receberei uma resposta?
                        </button>
                    </h2>
                    <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5"
                        data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            O prazo médio de resposta é de 30 dias, podendo variar conforme a complexidade do caso.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Rodapé do site -->
    <footer th:replace="~{layout/footer}"></footer>

    <!-- Inclua os arquivos JavaScript do Bootstrap para garantir que o Accordion funcione -->
    <script src="/assets/vendors/sweetalert2/sweetalert2.11.15.10.js"></script>

    <script src="/assets/js/theme.bundle.js"></script>

    <script>

        if('[[${info}]]' !== '') {
            Swal.fire({
                icon: 'info',
                title: 'Informação!',
                text: '[[${info}]]',
                confirmButtonText: 'Fechar',
                timer: 5000, // O alerta desaparecerá após 5 segundos
            });
        }

        document.getElementById("protocol").addEventListener("input", function (e) {

            let input = e.target.value;

            console.log(input)
            // Remove tudo que não for número
            input = input.replace(/\D/g, "");

            // Aplica a máscara para o formato 202503061012-81887
            if (input.length <= 12) {
                input = input.replace(
                    /(\d{4})(\d{2})(\d{2})(\d{2})(\d{2})?/,
                    "$1$2$3$4$5"
                );
            } else {
                input = input.replace(
                    /(\d{4})(\d{2})(\d{2})(\d{2})(\d{2})(\d{5})/,
                    "$1$2$3$4$5-$6"
                );
            }

            // Limita o número de caracteres a 16 (incluindo o hífen)
            if (input.length > 18) {
                input = input.substring(0, 18);
            }

            // Atualiza o valor do campo de entrada com a máscara
            e.target.value = input;
        });
    </script>
</body>

</html>