<!DOCTYPE html>
<html lang="pt-BR" th:fragment="layout (content, title)" data-bs-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/img/logos/exam-svgrepo-com.svg" type="image/x-icon" />

    <!-- Libs CSS -->
    <link rel="stylesheet" href="/assets/css/libs.bundle.css" />
    <link rel="stylesheet" href="/assets/vendors/datatables/datatables.responsive.css" />
    <link rel="stylesheet" href="/assets/vendors/datatables/datatables.bootstrap5.css" />

    <!-- CKEditor CSS -->
    <link rel="stylesheet" href="/assets/vendors/ckeditor5/ckeditor5-editor.css">
    <link rel="stylesheet" href="/assets/vendors/ckeditor5/ckeditor5-content.css">
    <link rel="stylesheet" href="/assets/vendors/ckeditor5/ckeditor5.css">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/assets/css/theme.bundle.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />

    <!-- JavaScript -->
    <script src="/assets/js/color.mode.js"></script>

    <title>e-SIC - Acesso Negado</title>
</head>

<body>

<!-- Top Navbar -->
<navbar th:replace="~{layout/dashboard/navbar}"></navbar>

<sidebar th:replace="~{layout/dashboard/sidebar}"></sidebar>

<!-- Main -->
<main class="main-content" id="mainContent">
    <!-- Content -->
    <div class="container-sm">
        <div class="text-center py-5">
            <img src="/assets/img/backgrounds/undraw_page-not-found_6wni.svg" alt="403 Illustration" class="img-fluid" style="max-width: 400px;"> <br/>
            <h3 class="display-4 fw-bold mt-4">Oops! Página não encontrada.</h3>
            <a href="/inicio" class="btn btn-primary mt-3">Voltar para a Página Inicial</a>
        </div>

    </div>

    <toast id="toast-container" class="toast-container position-fixed bottom-0 end-0 p-3"></toast>

    <footer th:replace="~{layout/footer}"></footer>
</main>

<!-- JavaScript -->
<script src="/assets/js/color.mode.js"></script>

<!-- Vendor JS -->
<script src="/assets/js/vendor.bundle.js"></script>

<!-- Theme JS -->
<script src="/assets/js/theme.bundle.js"></script>

<!-- Custom JS -->
<script src="/assets/js/search.request.js"></script>
<script src="/assets/js/sweetalert2.inits.js"></script>
<script src="/assets/js/mask.js"></script>

<!-- CKEditor JS -->
<script src="/assets/vendors/ckeditor5/ckeditor5.umd.js"></script>
<script src="/assets/vendors/ckeditor5/translations/pt-br.umd.js"></script>

<!-- SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- DataTables -->
<script src="/assets/vendors/datatables/jquery-3.7.1.js"></script>
<script src="/assets/vendors/datatables/datatables.js"></script>
<script src="/assets/vendors/datatables/datatables.responsive.js"></script>
<script src="/assets/vendors/datatables/datatables.bootstrap5.js"></script>

<script>
    function localeStatus(status) {
        if (status === "OPEN") return "Aberto";
        if (status === "UNDER_ANALYSIS") return "Em análise";
        if (status === "ANSWERED") return "Respondido";
        if (status === "APPEAL") return "Em recurso";
        if (status === "CLOSED") return "Finalizado";
    }

    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

    function toggleSidebar() {
        document.getElementById('sidebarMenu').classList.toggle('show');
    }

    function toggleSidebarCollapse() {
        document.getElementById('sidebarMenu').classList.toggle('collapsed');
        document.getElementById('mainContent').classList.toggle('collapsed');
    }

    document.addEventListener('click', function (event) {
        const sidebar = document.getElementById('sidebarMenu');
        const toggleButton = document.querySelector('.navbar-toggler');
        if (!sidebar.contains(event.target) && !toggleButton.contains(event.target)) {
            sidebar.classList.remove('show');
        }
    });

    // Obtém a URL atual
    const currentPath = window.location.pathname;

    // Seleciona todos os links do menu
    document.querySelectorAll(".nav-link").forEach(link => {
        // Verifica se o href do link corresponde à URL atual
        if (link.getAttribute("href") === "/" + currentPath.split("/")[1]) {
            link.classList.add("active");
        }
    });

</script>
</body>

</html>