<!DOCTYPE html>
<html lang="pt-br" th:replace="~{layout/dashboard/principal :: layout (~{:: content}, 'Gráficos')}">

<body>
    <content>
        <div class="container">
            <div class="row align-items-center mb-7">
                <div class="col-auto">
                    <!-- Avatar -->
                    <div class="avatar avatar-xl rounded text-primary">
                        <i class="bi bi-building-up"></i>
                    </div>
                </div>
                <div class="col">
                    <!-- Breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-2">
                            <li class="breadcrumb-item"><a class="text-body-secondary" href="/inicio">Página Inicial</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Relatórios</li>
                        </ol>
                    </nav>

                    <!-- Heading -->
                    <h1 class="fs-4 mb-0">Gráficos</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 mb-3">
                    <div class="card shadow" style="max-height: 500px; overflow: auto; height: 100%;">
                        <div class="card-body">
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="card shadow" style="max-height: 500px; overflow: auto; height: 100%;">
                        <div class="card-body">
                            <canvas id="chartBySubject"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            window.onload = () => {
                chartsByStatus();
                chartsBySubject();

            };

            const chartsByStatus = async () => {
                const response = await fetch(`/api/charts/status`);

                if (response.ok) {
                    const result = await response.json();

                    var ctx = document.getElementById("myChart").getContext("2d");

                    var data = {
                        labels: ["Em aberto", "Em análise", "Respondido", "Em recurso", "Finalizado"],
                        datasets: [{
                            label: "Quantidade",
                            data: [result[0].quantity, result[1].quantity, result[2].quantity, result[3].quantity, result[4].quantity],
                            backgroundColor: "rgba(54, 162, 235, 0.6)",
                            borderColor: "rgba(54, 162, 235, 1)",
                            borderWidth: 1
                        }]
                    };

                    var options = {
                        responsive: true,
                        maintainAspectRatio: false,
                        scales: {
                            y: {
                                beginAtZero: true,
                                ticks: {
                                    stepSize: 5
                                }
                            }
                        },
                        plugins: {
                            title: {
                                display: true,
                                text: "Solicitações por situação", // Título do gráfico
                                font: {
                                    size: 18
                                }
                            }
                        }
                    };

                    new Chart(ctx, {
                        type: "bar",
                        data: data,
                        options: options
                    });
                }
            }

            const chartsBySubject = async () => {
                const response = await fetch(`/api/charts/subjects`);

                if (response.ok) {
                    const result = await response.json();

                    var ctx = document.getElementById("chartBySubject").getContext("2d");

                    // Extraindo os dados do JSON
                    const labels = result.map(item => item.subject);
                    const dataValues = result.map(item => item.count);

                    new Chart(ctx, {
                        type: "bar",
                        data: {
                            labels: labels,
                            datasets: [{
                                label: "Quantidade de Requisições",
                                data: dataValues,
                                backgroundColor: "rgba(75, 192, 192, 0.6)",
                                borderColor: "rgba(75, 192, 192, 1)",
                                borderWidth: 1
                            }]
                        },
                        options: {
                            responsive: true,
                            maintainAspectRatio: false,
                            plugins: {
                                title: {
                                    display: true,
                                    text: "Requisições por Assunto",
                                    font: { size: 18 }
                                }
                            },
                            scales: {
                                y: {
                                    beginAtZero: true,
                                    ticks: { stepSize: 1 }
                                }
                            }
                        }
                    });
                }
            }
        </script>

    </content>
</body>

</html>