<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Sistema de atendimento ao cidadão - cadastro" />

    <!-- Fonts and icons -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />

    <link rel="stylesheet" href="/assets/css/libs.bundle.css" />
    <link rel="stylesheet" href="/assets/css/theme.bundle.css" />
    <link rel="stylesheet" href="/assets/css/register.css">
    <script src="/assets/js/color.mode.js"></script>

    <title>[[${settings.title}]] - Sistema Eletrônico de Informação ao Cidadão | Novo acesso </title>

</head>

<body class="d-flex align-items-center">
    <div class="container">
        <div class="card p-3 shadow-sm">
            <h1 class="fs-1 text-center mt-3">
                <img th:src="${'/api/files/public/' + settings.landingPage?.headerLogo}" class="img-fluid" width="50"
                    style="vertical-align: text-top;"  alt="logo"/>
                Cadastro
            </h1>
            <p class="lead text-center text-body-secondary">Preencha o formulário de cadastro para acompanhar sua
                solicitação</p>

            <form id="form-register">
                <div id="error-messages"></div>
                <div class="nav nav-tabs" id="cadastroTabs" role="tablist">
                    <button class="nav-link active disabled" id="step1-tab" data-bs-toggle="tab" data-bs-target="#step1"
                        type="button">
                        <span class="material-symbols-outlined">person</span> <span class="tab-text">Dados</span>
                    </button>
                    <button class="nav-link disabled" id="step2-tab" data-bs-toggle="tab" data-bs-target="#step2"
                        type="button">
                        <span class="material-symbols-outlined">home</span> <span class="tab-text">Endereço</span>
                    </button>
                    <button class="nav-link disabled" id="passo3-tab" data-bs-toggle="tab" data-bs-target="#step3"
                        type="button">
                        <span class="material-symbols-outlined">contact_phone</span> <span
                            class="tab-text">Contato</span>
                    </button>
                    <button class="nav-link disabled" id="passo4-tab" data-bs-toggle="tab" data-bs-target="#step4"
                        type="button">
                        <span class="material-symbols-outlined">lock</span> <span class="tab-text">Acesso</span>
                    </button>
                </div>

                <div class="tab-content p-3 border border-top-0">
                    <step class="tab-pane fade show active" id="step1">
                        <div class="form-floating mb-3">
                            <select class="form-select" id="tipoPessoa" name="personType" required>
                                <option value="-1" selected disabled>Selecione uma opção</option>
                                <option value="fisica">Pessoa Física</option>
                                <option value="juridica">Pessoa Jurídica</option>
                            </select>
                            <label for="tipoPessoa">Tipo de pessoa</label>
                        </div>

                        <div id="camposFisica" class="row"></div>

                        <div id="camposJuridica" class="row"></div>
                    </step>

                    <step class="tab-pane fade show" id="step2">
                        <div class="container mt-3">
                            <div class="row g-3">
                                <div class="col-md-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="cep" placeholder="CEP"
                                            oninput="maskCEP(this)" onkeyup="searchCep(this)" required name="cep" />
                                        <label for="cep">CEP</label>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="street" placeholder="Logradouro"
                                            required name="street" />
                                        <label for="logradouro">Logradouro</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="number" placeholder="Número"
                                            required name="number" />
                                        <label for="numero">Número</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="district" placeholder="Bairro"
                                            required name="district" />
                                        <label for="bairro">Bairro</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="city" placeholder="Cidade" required
                                            name="city" />
                                        <label for="cidade">Cidade</label>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="flexCheckChecked"
                                            name="addressCheck" onchange="handleAddressCheckbox(this)" />
                                        <label class="form-check-label" for="flexCheckChecked">
                                            Não quero receber correspondência
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </step>

                    <step class="tab-pane fade show" id="step3">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="tel" class="form-control" id="celular" placeholder="Celular"
                                        oninput="maskPhone(this)" required name="phone" />
                                    <label for="celular">Celular</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="tel" class="form-control" id="whatsapp" placeholder="WhatsApp"
                                        oninput="maskPhone(this)" name="whatsapp" />
                                    <label for="whatsapp">WhatsApp (Opcional)</label>
                                </div>
                            </div>
                        </div>
                    </step>

                    <step class="tab-pane fade show" id="step4">
                        <div class="row g-3">
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email" placeholder="E-mail"
                                        name="email">
                                    <label for="email">E-mail</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="password" class="form-control" id="senha" placeholder="Senha"
                                        name="password">
                                    <label for="senha">Senha</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="password" class="form-control" id="confirmarSenha"
                                        placeholder="Confirmar Senha" name="confirmPassword">
                                    <label for="confirmarSenha">Confirmar Senha</label>
                                </div>
                            </div>
                        </div>
                    </step>
                </div>

                <div class="d-flex justify-content-between mt-3">
                    <button class="btn btn-secondary" type="button" id="btnAnterior" disabled>Anterior</button>
                    <button class="btn btn-primary" type="button" id="btnProximo">Próximo</button>
                    <button class="btn btn-primary" style="display: none" type="submit" id="btnSalvar">Salvar</button>
                </div>
            </form>
        </div>
    </div>

    <!-- JAVASCRIPT -->
    <script src="/assets/js/vendor.bundle.js"></script>
    <script src="/assets/js/theme.bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/assets/js/mask.js"></script>
    <script src="/assets/js/viacep.js"></script>
    <script src="/assets/js/register.js"></script>

</body>

</html>